<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Модель</label>
        <input type="text" class="form-control" placeholder="Модель">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label>Ключові слова</label>
        <input type="text" class="form-control" placeholder="Ключові слова">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <VueCkeditor v-model="name" :config="config" @blur="onBlur($event)" @focus="onFocus($event)" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-success">Save</button>
      <button class="btn btn-sm btn-danger pull-right">Reset</button>
    </div>
  </div>
</div>
